<br> 
<table width="600" border="0" align="center" cellpadding="30" cellspacing="1" bgcolor="#999999" class="t2">
  <tr> 
    <td align="center" bgcolor="#fcfce5"><p>&nbsp;</p>
      <p>{notes}</p>
      <table id="adminvottb1" width="90" border="0" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" class="t2" style={displays}>
        <tr> 
          <td align="center" bgcolor="#eeeeee" id="adminvottd1"><a href="http://202.99.225.146/index.php?target=2" onMouseOver="chbgcolor('adminvottb1','adminvottd1','Y')" onMouseOut="chbgcolor('adminvottb1','adminvottd1','N')">{back}</a></td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
</table>
