{script1}
<br> 
<table width="95%" border="0" align="center" cellpadding="10" cellspacing="0" style="display:{displaystate1}">
  <tr> 
    <td align="center"><font size="4"> {title}</font></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="2"  style="display:{displaystate3}">
        <tr>
          <td><table  id="distb1" width="90" border="0" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" class="t2"">
              <tr> 
                <td align="center" bgcolor="#eeeeee" id="distd1" ><a href="#" onMouseOver="chbgcolor('distb1','distd1','Y')" onMouseOut="chbgcolor('distb1','distd1','N')" onClick="document.location.reload()">{reload}</a></td>
              </tr>
            </table>
            <hr width="100%" size="1" noshade></td>
        </tr>
      </table> 
      
    </td>
  </tr>
</table>
<table width="95%" border="0" align="center" cellpadding="10" cellspacing="1" class="t3" style="display:{displaystate1}">
  <!-- BEGIN rows -->
  <tr> 
    <!-- BEGIN cols -->
    <td width="20%" align="center">{usertype} 
      <table width="80" height="100" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000" class="t3">
        <tr>
          <td align="center" bgcolor="#FFFFFF">{userlogo}</td>
              </tr>
            </table>
      {nmwt}{nmtw}{free}{vote}{userinfo}
      <table border="0" cellspacing="1" cellpadding="0" class="t3" style="display:{displaystate4}">
        <tr align="center"> 
          <td><a href=javascript:onclick=DeleteOrPass({passval})>{pass}</a></td>
          <td>&nbsp;</td>
          <td><a href=javascript:onclick=DeleteOrPass({deleteval})>{delete}</a></td>
        </tr>
      </table></td>
          <!-- END cols -->
        </tr>
        <!-- END rows -->
      </table>
<table width="95%" border="0" align="center" cellpadding="10" cellspacing="1" bgcolor="#CCCCCC" style="display:{displaystate2}" class="t2">
  <tr> 
    <td align="center" bgcolor="#fcfce5"><br>
      <br>
      <br>
      <strong><font color="#FF0000">{nofile}</font></strong><br>
      <br>
      <br>
      <br>
    </td>
  </tr>
</table>
<table width="95%" border="0" align="center" cellpadding="10" cellspacing="0" style="display:{displaystate1}">
  <tr> 
    <td> <table width="100%" border="0" cellspacing="0" cellpadding="2" style="display:{displaystate3}">
        <tr>
          <td><hr width="100%" size="1" noshade>
            <table  id="distb2" width="90" border="0" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" class="t2">
              <tr> 
                <td align="center" bgcolor="#eeeeee" id="distd2" ><a href="#" onMouseOver="chbgcolor('distb2','distd2','Y')" onMouseOut="chbgcolor('distb2','distd2','N')" onClick="document.location.reload()">{reload}</a></td>
              </tr>
            </table></td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>
