<br> 
<table width="600" border="0" align="center" cellpadding="30" cellspacing="1" bgcolor="#999999" class="t2">
  <tr> 
    <td align="center" bgcolor="#fcfce5"><p>&nbsp;</p>
      <p>{notes}</p>
      <table id="guestvottb1" width="90" border="0" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" class="t2">
        <tr> 
          <td align="center" bgcolor="#eeeeee" id="guestvottd1"><a href="#" onMouseOver="chbgcolor('guestvottb1','guestvottd1','Y')" onMouseOut="chbgcolor('guestvottb1','guestvottd1','N')" onClick="history.back()">{back}</a></td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
</table>
