
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td><table width="100%" border="0" cellpadding="3" cellspacing="0" bgcolor="#339999" class="t1">
        <tr> 
          <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
        <tr> 
          <td height="30"> {company}&nbsp;&nbsp;&nbsp;&nbsp;{contact}{address}</td>
        </tr>
        <tr> 
          <td align="center">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td bgcolor="#0099CC"><img src="template/images/empty.gif" width="779" height="1"></td>
  </tr>
</table>
</body>
</html>
